* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.headline {
	width: 100%;
	height: 400px;
	background-image: url(chapter7_exercise/img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}
h1 {
	padding: 20px;
}

main {
	width: 840px;
	margin: 50px auto;
}

.blog-item {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}